<main
  class="px-4 md:px-12 lg:px-20 pb-16 pt-32 min-h-screen flex flex-col-reverse lg:flex-row justify-center lg:justify-center items-center gap-20"
>
  <div>
    <h1 class="text-2xl uppercase">
      L<span class="text-lg font-medium">AW</span>H<span
        class="text-lg font-medium"
        >UB</span
      >
      <span class="text-latte">
        C<span class="text-lg font-medium">HATBOT</span></span
      >
    </h1>
    <p class="mt-4 mb-4 leading-8">
      LawHub Chatbot kini hadir untuk menjawab segala pertanyaan Anda mengenai
      hukum. Dengan fitur interaktif yang ramah pengguna, Anda dapat dengan
      mudah mencari informasi tentang berbagai topik hukum, mendapatkan nasihat
      hukum dasar, dan bahkan diberikan arahan untuk langkah-langkah selanjutnya
      dalam menangani masalah hukum Anda. Mari mulai percakapan dengan LawHub
      Chatbot dan temukan solusi untuk pertanyaan hukum Anda dengan mudah dan
      efisien.
    </p>
    <div class="mt-6 mb-4 text-sm">
      <button
        [routerLink]="['/chatbot']"
        class="flex gap-2 items-center py-1 px-5 rounded-md text-navy2 bg-latte hover:bg-gold focus:ring-4 focus:outline-none focus:ring-gold transition"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-4 h-4"
        >
          <path
            fill-rule="evenodd"
            d="M5.625 1.5H9a3.75 3.75 0 0 1 3.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 0 1 3.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 0 1-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875Zm5.845 17.03a.75.75 0 0 0 1.06 0l3-3a.75.75 0 1 0-1.06-1.06l-1.72 1.72V12a.75.75 0 0 0-1.5 0v4.19l-1.72-1.72a.75.75 0 0 0-1.06 1.06l3 3Z"
            clip-rule="evenodd"
          />
          <path
            d="M14.25 5.25a5.23 5.23 0 0 0-1.279-3.434 9.768 9.768 0 0 1 6.963 6.963A5.23 5.23 0 0 0 16.5 7.5h-1.875a.375.375 0 0 1-.375-.375V5.25Z"
          />
        </svg>
        <p>Tanya Chatbot</p>
      </button>
    </div>
  </div>
  <div>
    <img src="/assets/chatbot-img.png" alt="image" class="max-w-80" />
  </div>
</main>
