<main class="px-14 py-10">
  <h1 class="font-semibold text-2xl mb-4">Daftar Artikel</h1>

  <div class="flex flex-col lg:flex-row lg:justify-between mb-4">
    <div class="flex gap-4">
      <mat-form-field>
        <mat-label>Pilih Kategori</mat-label>
        <mat-select [(value)]="selectedCategory">
          @for (category of categories; track category) {
          <mat-option [value]="category.value">{{
            category.viewValue
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Urut Berdasarkan</mat-label>
        <mat-select [(value)]="selectedSort">
          @for (sort of sortLists; track sort) {
          <mat-option [value]="sort.value">{{ sort.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
      <label
        for="default-search"
        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
        >Search</label
      >
      <div class="relative w-72">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          type="search"
          id="search"
          class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:outline-blue-500 focus:border-blue-500"
          placeholder="Cari artikel ..."
          name="searchKeyword"
          required
          formControlName="searchKeyword"
        />
        <button
          type="submit"
          class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2"
          [disabled]="searchForm.invalid"
        >
          Search
        </button>
      </div>
    </form>
  </div>
  <!-- <div *ngFor="let article of articles | async">
  <h2>
    {{ article.title }}
  </h2>
  <p>
    {{ article.content }}
  </p>
  <button [routerLink]="['article']" [queryParams]="{article}">Buka</button>
</div> -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <ng-container
      *ngFor="
        let article of collection
          | paginate : { itemsPerPage: 6, currentPage: p }
      "
    >
      <div
        class="p-6 bg-white border border-gray-200 rounded-lg shadow flex flex-col justify-between"
      >
        <div>
          <span
            class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-blue-100 text-blue-800"
            >{{ article.category }}</span
          >
          <div class="overflow-hidden mt-4">
            <h5
              class="mb-2 text-lg font-medium tracking-tight text-gray-900 line-clamp-3"
            >
              {{ article.title }}
            </h5>
          </div>
          <!-- <div class="mb-3 text-gray-700" [innerHTML]="article.content"></div> -->
          <div class="h-14 overflow-hidden">
            <p class="mb-4 line-clamp-2 text-sm">{{ article.content }}</p>
          </div>
        </div>
        <div>
          <button
            [routerLink]="['/articles', article.id]"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
          >
            Read more
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="flex justify-center mt-10">
    <pagination-controls
      (pageChange)="p = $event"
      [responsive]="true"
    ></pagination-controls>
  </div>
</main>
