<h1 class="font-semibold text-2xl mb-4">Daftar Artikel</h1>
<div class="flex gap-4">
  <mat-form-field>
    <mat-label>Pilih Kategori</mat-label>
    <mat-select [(value)]="selectedCategory">
      @for (category of categories; track category) {
      <mat-option [value]="category.value">{{ category.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Urut Berdasarkan</mat-label>
    <mat-select [(value)]="selectedSort">
      @for (sort of sortLists; track sort) {
      <mat-option [value]="sort.value">{{ sort.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
<!-- <div *ngFor="let article of articles | async">
  <h2>
    {{ article.title }}
  </h2>
  <p>
    {{ article.content }}
  </p>
  <button [routerLink]="['article']" [queryParams]="{article}">Buka</button>
</div> -->
<div
  *ngFor="
    let article of collection | paginate : { itemsPerPage: 5, currentPage: p }
  "
>
  <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        {{ article.title }}
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-700">
      {{ article.content }}
    </p>
    <button
      [routerLink]="['article']"
      [queryParams]="{article}"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
    >
      Read more
      <svg
        class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </button>
  </div>
</div>
<div class="flex justify-center mt-10">
  <pagination-controls
    (pageChange)="p = $event"
    [responsive]="true"
  ></pagination-controls>
</div>
