<nav class="bg-white fixed top-0 right-0 left-0 shadow-md z-50">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4 px-4 lg:px-6"
  >
    <div class="flex gap-4">
      <button
        data-drawer-target="logo-sidebar"
        data-drawer-toggle="logo-sidebar"
        aria-controls="logo-sidebar"
        type="button"
        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      >
        <span class="sr-only">Open sidebar</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
          ></path>
        </svg>
      </button>
      <button [routerLink]="['/home']">
        <span
          class="text-2xl font-semibold uppercase whitespace-nowrap text-gold"
          >L<span class="text-lg font-bold">AW</span></span
        >
        <span class="text-2xl font-semibold whitespace-nowrap"
          >H<span class="text-lg font-bold">UB</span></span
        >
      </button>
    </div>
    <div
      class="flex lg:order-2 items-center space-x-3 lg:space-x-0 rtl:space-x-reverse"
    >
      <button
        *ngIf="!isLoggedIn()"
        [routerLink]="['/auth']"
        type="button"
        class="text-navy2 hover:text-white border border-navy2 hover:bg-navy2 focus:ring-4 focus:outline-navy1 focus:ring-navy1 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 transition"
      >
        Login
      </button>
      <button
        *ngIf="isLoggedIn()"
        (click)="logout()"
        type="button"
        class="text-white bg-navy2 hover:bg-navy1 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center transition"
      >
        Logout
      </button>
      <button
        data-collapse-toggle="navbar-cta"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 transition"
        aria-controls="navbar-cta"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1"
      id="navbar-cta"
    >
      <ul
        class="flex flex-col font-medium p-4 lg:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0 lg:bg-white"
      >
        <li>
          <a
            routerLink="/home"
            class="block py-2 px-3 lg:p-0 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-gold transition"
          >
            Beranda
          </a>
        </li>
        <li>
          <a
            routerLink="/home"
            class="block py-2 px-3 lg:p-0 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-gold transition"
          >
            Tentang Kami
          </a>
        </li>
        <li>
          <button
            id="dropdownNavbarLink"
            data-dropdown-toggle="dropdownNavbar"
            class="flex items-center justify-between w-full py-2 px-3 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-gold lg:p-0 lg:w-auto"
          >
            Layanan
            <svg
              class="w-2.5 h-2.5 ms-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
            id="dropdownNavbar"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-400"
              aria-labelledby="dropdownLargeButton"
            >
              <li>
                <a href="/articles" class="block px-4 py-2 hover:bg-gray-100"
                  >Artikel</a
                >
              </li>
              <li>
                <a
                  href="/hoax-threads"
                  class="block px-4 py-2 hover:bg-gray-100"
                  >Hoax Threads</a
                >
              </li>
              <li>
                <a href="/home" class="block px-4 py-2 hover:bg-gray-100"
                  >SpeakUp Threads</a
                >
              </li>
              <li>
                <a
                  href="/chatbot-intro"
                  class="block px-4 py-2 hover:bg-gray-100"
                  >Chatbot</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a
            routerLink="/home"
            class="block py-2 px-3 lg:p-0 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-gold transition"
          >
            Kontak Kami
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="min-h-screen">
  <router-outlet> </router-outlet>
</div>

<footer [ngClass]="{ hidden: currentPath === '/chatbot' }">
  <div
    class="px-4 md:px-12 lg:px-20 py-16 grid grid-cols-1 md:grid-cols-3 gap-4 bg-latte"
  >
    <div class="flex items-center justify-center md:justify-start">
      <button [routerLink]="['/home']">
        <span class="text-2xl font-semibold whitespace-nowrap"
          >L<span class="text-lg font-bold">AW</span>H<span
            class="text-lg font-bold"
            >UB</span
          ></span
        >
      </button>
    </div>

    <div class="flex justify-center">
      <div>
        <p class="mb-3 font-medium text-center md:text-start">Kontak Kami</p>
        <ng-container *ngFor="let contact of contactData">
          <div class="flex items-center gap-2 text-sm mb-2">
            <img [src]="contact.icon" alt="icon" class="h-4" />
            <p>{{ contact.value }}</p>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="flex justify-center md:justify-end">
      <div>
        <p class="hidden md:block mb-2 text-transparent">Social Media</p>
        <ng-container *ngFor="let socialMedia of socialMediaData">
          <div class="flex items-center gap-2 text-sm mb-2">
            <img [src]="socialMedia.icon" alt="icon" class="h-4" />
            <p>{{ socialMedia.value }}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</footer>
