<main>
  <section
    class="px-4 md:px-12 lg:px-20 pb-10 pt-24 flex items-center justify-between gap-10 shadow-md"
  >
    <div class="max-w-[35rem]">
      <h1 class="text-3xl uppercase">
        L<span class="text-xl font-medium">AW</span
        ><span class="text-gold"
          >S<span class="text-xl font-medium">PEAK</span></span
        >
      </h1>
      <h3 class="text-lg font-medium mt-2">Connect. Share. Learn</h3>
      <p class="mt-4 mb-4 leading-8">
        Temukan validitas yang akurat dan terpecaya dari berita-berita tidak
        benar yang ada. Disini Anda dapat memastikan informasi yang diterima
        adalah benar dan dapat dipertanggungjawabkan.
      </p>
    </div>
  </section>

  <div class="mt-8 px-4 md:px-12 lg:px-20 flex flex-col lg:flex-row gap-12">
    <!-- CREATE THREADS -->
    <div class="lg:basis-2/3">
      <h5 class="text-lg font-bold mb-4 px-4">Buat Threads</h5>
      <div class="flex gap-4 border-gray-300 px-4">
        <div>
          <div
            class="relative inline-flex items-center justify-center w-12 h-12 overflow-hidden rounded-full"
            [ngClass]="{
            'bg-gray-800 ':
              authenticatedUser.length < 11,
            'bg-blue-500 ':
              authenticatedUser.length === 11,
            'bg-red-500 ':
              authenticatedUser.length === 12,
            'bg-yellow-500 ':
              authenticatedUser.length === 13,
            'bg-green-500 ':
              authenticatedUser.length === 14,
            'bg-orange-500 ':
              authenticatedUser.length === 15,
            'bg-pink-500 ':
              authenticatedUser.length === 16,
            'bg-purple-500 ':
              authenticatedUser.length === 17,
            'bg-amber-500 ':
              authenticatedUser.length === 18,
            'bg-lime-500 ':
              authenticatedUser.length === 19,
            'bg-rose-500 ':
              authenticatedUser.length === 20,
            'bg-gray-500 ':
              authenticatedUser.length > 20,
            
          }"
          >
            <span class="text-lg font-medium text-white">{{
              getInitialName(authenticatedUser)
            }}</span>
          </div>
        </div>
        <div>
          <form>
            <editor
              apiKey="1xt4ppnjnw5zhlf8eubymzehivyuh7ap4vmd27mq7l38r0hn"
              [init]="{
                plugins: 'list link image wordcount',
                menubar: 'insert',
                height: 300
              }"
              formControlName="content"
              id="input-content"
            ></editor>
            <button
              type="submit"
              class="inline-flex items-center mt-6 px-5 py-2 text-sm font-medium text-center text-white bg-navy2 rounded-full hover:bg-navy1 focus:ring-4 focus:outline-none focus:ring-blue-900 transition"
            >
              Kirim
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- SEARCH FORM INPUT -->
    <form
      [formGroup]="searchForm"
      (ngSubmit)="onSearchSubmit()"
      class="lg:basis-1/3"
    >
      <label
        for="default-search"
        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
        >Search</label
      >
      <div class="relative">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          type="search"
          id="search"
          class="block w-full p-4 ps-10 text-sm border border-gray-300 rounded-lg bg-gray-50 focus:outline-none focus:ring-navy2 focus:border-navy2"
          placeholder="Cari ..."
          name="searchKeyword"
          required
          formControlName="searchKeyword"
        />
        <button
          type="submit"
          class="absolute end-2.5 bottom-2.5 bg-navy2 hover:bg-navy1 focus:ring-4 focus:outline-none focus:ring-blue-900 text-white font-medium rounded-lg text-sm px-4 py-2 transition"
        >
          Search
        </button>
      </div>
    </form>
  </div>

  <!--SPEAKUP LIST -->
  <section class="px-4 md:px-12 lg:px-20 pb-14 pt-10">
    <div class="flex flex-col lg:flex-row gap-12">
      <div class="lg:basis-2/3">
        <ng-container *ngFor="let speakup of speakupList">
          <div
            class="flex gap-4 border-y border-gray-300 p-4 cursor-pointer hover:bg-gray-50 transition"
            [routerLink]="['/lawspeak', speakup.id]"
          >
            <div>
              <div
                class="relative inline-flex items-center justify-center w-12 h-12 overflow-hidden rounded-full"
                [ngClass]="{
            'bg-gray-800 ':
              speakup.user.length < 11,
            'bg-blue-500 ':
              speakup.user.length === 11,
            'bg-red-500 ':
              speakup.user.length === 12,
            'bg-yellow-500 ':
              speakup.user.length === 13,
            'bg-green-500 ':
              speakup.user.length === 14,
            'bg-orange-500 ':
              speakup.user.length === 15,
            'bg-pink-500 ':
              speakup.user.length === 16,
            'bg-purple-500 ':
              speakup.user.length === 17,
            'bg-amber-500 ':
              speakup.user.length === 18,
            'bg-lime-500 ':
              speakup.user.length === 19,
            'bg-rose-500 ':
              speakup.user.length === 20,
            'bg-gray-500 ':
              speakup.user.length > 20,
            
          }"
              >
                <span class="text-lg font-medium text-white">{{
                  getInitialName(speakup.user)
                }}</span>
              </div>
            </div>
            <div>
              <div>
                <h5 class="text-lg font-bold">{{ speakup.user }}</h5>
              </div>
              <div class="mt-4">
                <p class="text-xs text-gray-600">
                  {{ speakup.created_at | date : "mediumDate" }}
                </p>
              </div>
              <div class="overflow-hidden mt-4">
                <div
                  class="text-sm mb-4 line-clamp-10"
                  [innerHTML]="speakup.content"
                ></div>
              </div>
              <div class="mt-4 flex gap-4 text-gray-500 items-center">
                <!-- COMMENTS -->
                <button
                  class="flex gap-1 items-center py-1 px-2 rounded hover:bg-gray-100 transition"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z"
                    />
                  </svg>

                  <p class="text-sm">{{ speakup.comments }}</p>
                </button>
                <!-- VIEWS -->
                <button
                  class="flex gap-1 items-center py-1 px-2 rounded hover:bg-gray-100 transition"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                    />
                  </svg>
                  <p class="text-sm">{{ speakup.views }}</p>
                </button>
                <!-- SHARE -->
                <button class="p-1 rounded hover:bg-gray-100 transition">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="lg:basis-1/3">
        <!-- Kategori -->
        <div class="rounded-lg py-4 border border-gray-300">
          <h3 class="text-xl font-bold mb-4 px-4">Kategori</h3>
          <ng-container *ngFor="let category of categories">
            <div class="p-4 flex justify-between gap-4 items-center">
              <div>
                <p class="font-semibold">{{ category.name }}</p>
                <p class="text-sm mt-1">{{ category.followers }} Follower</p>
              </div>
              <div>
                <button
                  class="px-5 py-2 text-sm font-medium text-white bg-navy2 rounded-full hover:bg-navy1 focus:ring-4 focus:outline-none focus:ring-blue-900 transition"
                >
                  Follow
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
</main>
