<main>
  <section
    class="px-4 md:px-12 lg:px-20 pb-10 pt-24 flex items-center justify-between gap-10 shadow-md"
  >
    <div class="max-w-[35rem]">
      <h1 class="text-3xl uppercase">
        L<span class="text-xl font-medium">AW</span
        ><span class="text-gold"
          >S<span class="text-xl font-medium">PEAK</span></span
        >
      </h1>
      <h3 class="text-lg font-medium mt-2">Connect. Share. Learn</h3>
      <p class="mt-4 mb-4 leading-8">
        Temukan validitas yang akurat dan terpecaya dari berita-berita tidak
        benar yang ada. Disini Anda dapat memastikan informasi yang diterima
        adalah benar dan dapat dipertanggungjawabkan.
      </p>
    </div>
  </section>
</main>
