<!-- <p>home works!</p>
<div *ngFor="let item of items$ | async; index as i; first as isFirst">
  <p>nomor: {{ i }}</p>
  <p>username: {{ item.username }}</p>
  <p>password: {{ item.password }}</p>
  <span *ngIf="isFirst">default</span>
</div> -->
<main>
  <!-- HERO SECTION -->
  <section
    class="grid grid-cols-1 lg:grid-cols-2 pt-36 items-center px-4 md:px-12 lg:px-20 pb-20"
  >
    <div>
      <h1 class="text-4xl font-bold mb-4">
        Selamat Datang di <span class="text-gold">LawSites!</span>
      </h1>
      <h1 class="text-2xl font-bold">
        Empowering Minds, Enabling Solutions, Ensuring Justice
      </h1>
      <p class="mt-4 leading-8">
        Tempat dimana Anda dapat menemukan berbagai informasi hukum terpecaya
        dan terkini serta memberikan kesempatan bagi Anda untuk menyuarakan
        pendapat, pertanyaan, atau pengalaman langsung untuk langkah menuju
        keadilan.
      </p>
    </div>
    <div class="hidden lg:flex justify-end">
      <img src="/assets/landing-page-img.png" alt="image" class="max-w-96" />
    </div>
  </section>

  <!-- ABOUT SECTION -->
  <section
    id="about"
    class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-0 items-center bg-latte px-4 md:px-12 lg:px-20 py-20"
  >
    <div class="flex justify-center lg:justify-start">
      <img src="/assets/about-img.png" alt="image" class="max-w-96" />
    </div>
    <div>
      <h1 class="text-3xl font-bold underline underline-offset-8">
        Tentang Kami
      </h1>
      <p class="mt-4 text-justify leading-8">
        LawSites adalah platform yang memberikan kemudahan bagi masyarakat untuk
        mengakses informasi hukum yang terpercaya dan terkini. Kami hadir untuk
        menjembatani kesenjangan dalam pemahaman hukum, serta memberikan ruang
        kepada Anda untuk mendapatkan keadilan dengan menyuarakan suara,
        pertanyaan, atau pengalaman langsung. LawSites juga berkomitmen untuk
        menegakkan kebenaran atas berita bohong yang beredar dengan sumber yang
        dapat dipercaya. Melalui platform ini, segala permasalahan dan
        pertanyaan Anda akan terjawab . LawSites, solusi tepat untuk keadilan
        Anda.
      </p>
    </div>
  </section>

  <!-- SERVICES SECTION -->
  <section id="services" class="px-4 md:px-12 lg:px-20 py-20">
    <div>
      <h1
        class="text-3xl font-bold underline underline-offset-8 decoration-latte text-center"
      >
        Layanan
      </h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mt-10 gap-6">
      <ng-container *ngFor="let service of servicesData">
        <button [routerLink]="[service.href]">
          <div
            class="flex flex-col gap-6 items-center justify-center p-6 rounded-md hover:shadow-md transition-all"
          >
            <div class="rounded-full bg-navy2 p-8">
              <img [src]="service.image" alt="logo" class="h-20 w-20" />
            </div>
            <p class="font-bold text-lg">{{ service.name }}</p>
          </div>
        </button>
      </ng-container>
    </div>
  </section>
</main>
