<main class="px-4 md:px-12 lg:px-20 pb-16 pt-32">
  <div class="p-4 rounded-lg border border-brown shadow-detail-card">
    <!-- PUBLISHED DATE -->
    <p class="text-end mb-4">
      {{ publishedDate | date : "longDate" }}
    </p>
    <!-- ARTICLE TITLE -->
    <h1 class="text-2xl font-bold mb-4">{{ hoax?.title }}</h1>
    <!-- ARTICLE AUTHOR, PUBLISED DATE, VIEWS -->
    <div class="mb-4 text-sm">
      <!-- AUTHOR -->
      <div class="flex items-center gap-2 mb-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-4 h-4"
        >
          <path
            fill-rule="evenodd"
            d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
            clip-rule="evenodd"
          />
        </svg>
        <p>Admin LawHub</p>
      </div>
      <!-- VIEWS -->
      <div class="flex items-center gap-2 mb-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-4 h-4"
        >
          <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
          <path
            fill-rule="evenodd"
            d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z"
            clip-rule="evenodd"
          />
        </svg>

        <p>
          {{ hoax?.views }}
        </p>
      </div>
    </div>

    <!-- hoax CATEGORY -->
    <!-- <ng-container *ngIf="hoax">
      <span
        class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium mb-4"
        [ngClass]="{
          'bg-blue-100 text-blue-800': hoaxCategory == 'Hukum Internasional',
          'bg-red-100 text-red-800': hoaxCategory == 'Hukum Administrasi Negara',
          'bg-yellow-100 text-yellow-800': hoaxCategory == 'Hukum Perdata',
          'bg-green-100 text-green-800': hoaxCategory == 'Hukum Bisnis',
          'bg-orange-100 text-orange-800': hoaxCategory == 'Hukum Lingkungan',
          'bg-pink-100 text-pink-800': hoaxCategory == 'Hukum Pertambangan',
          'bg-purple-100 text-purple-800': hoaxCategory == 'Hukum Tata Negara',
          'bg-amber-100 text-amber-800': hoaxCategory == 'Hukum Pidana',
          'bg-lime-100 text-lime-800': hoaxCategory == 'Hukum Lainnya',
          'bg-rose-100 text-rose-800': hoaxCategory == 'Hukum Acara',
        }"
        >{{ hoaxCategory }}</span
      >
    </ng-container> -->
    <!-- HOAX IMAGES -->
    <div class="mb-4" *ngFor="let image of hoax.images">
      <img
        [src]="image"
        alt="Images"
        class="w-full h-30 object-cover rounded-lg"
      />
    </div>

    <!-- hoax CONTENT -->
    <div [innerHTML]="hoax?.content" class="text-justify"></div>

    <!-- BUKTI PENDUKUNG -->
    <div class="mt-6 mb-4 text-sm">
      <button
        class="flex gap-2 items-center py-1 px-3 rounded-md text-gold bg-navy2 hover:bg-navy1 focus:ring-4 focus:outline-none focus:ring-blue-900 transition"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-4 h-4"
        >
          <path
            fill-rule="evenodd"
            d="M5.625 1.5H9a3.75 3.75 0 0 1 3.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 0 1 3.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 0 1-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875Zm5.845 17.03a.75.75 0 0 0 1.06 0l3-3a.75.75 0 1 0-1.06-1.06l-1.72 1.72V12a.75.75 0 0 0-1.5 0v4.19l-1.72-1.72a.75.75 0 0 0-1.06 1.06l3 3Z"
            clip-rule="evenodd"
          />
          <path
            d="M14.25 5.25a5.23 5.23 0 0 0-1.279-3.434 9.768 9.768 0 0 1 6.963 6.963A5.23 5.23 0 0 0 16.5 7.5h-1.875a.375.375 0 0 1-.375-.375V5.25Z"
          />
        </svg>
        <p>Download Bukti Pendukung</p>
      </button>
    </div>

    <!-- SHARE BUTTON -->
    <div class="flex gap-2 items-center mt-6">
      <p class="text-sm">Bagikan:</p>
      <!-- Copy To Clipboard -->
      <button
        (click)="copyToClipboard('lawhub.id/' + hoax?.url)"
        class="flex gap-2 items-center py-1 px-3 rounded-md text-gold bg-navy2 hover:bg-navy1 focus:ring-4 focus:outline-none focus:ring-blue-900 transition"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-4 h-4"
        >
          <path
            fill-rule="evenodd"
            d="M5.625 1.5H9a3.75 3.75 0 0 1 3.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 0 1 3.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 0 1-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875Zm5.845 17.03a.75.75 0 0 0 1.06 0l3-3a.75.75 0 1 0-1.06-1.06l-1.72 1.72V12a.75.75 0 0 0-1.5 0v4.19l-1.72-1.72a.75.75 0 0 0-1.06 1.06l3 3Z"
            clip-rule="evenodd"
          />
          <path
            d="M14.25 5.25a5.23 5.23 0 0 0-1.279-3.434 9.768 9.768 0 0 1 6.963 6.963A5.23 5.23 0 0 0 16.5 7.5h-1.875a.375.375 0 0 1-.375-.375V5.25Z"
          />
        </svg>
        <p>Salin Link</p>
      </button>
      <!-- Facebook -->
      <button
        class="flex gap-2 items-center py-1 px-3 rounded-md text-gold bg-navy2 hover:bg-navy1 focus:ring-4 focus:outline-none focus:ring-blue-900 transition"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-4 h-4"
        >
          <path
            fill-rule="evenodd"
            d="M3.75 12a.75.75 0 0 1 .75-.75h3.75V9a.75.75 0 0 1 1.5 0v2.25h1.5a.75.75 0 0 1 0 1.5h-1.5V15a.75.75 0 0 1-1.5 0v-2.25H4.5a.75.75 0 0 1-.75-.75ZM8.25 3a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 .75.75v3.75h1.5a.75.75 0 0 1 0 1.5H15V15a.75.75 0 0 1-1.5 0V8.25H12a.75.75 0 0 1-1.5 0V15H9a.75.75 0 0 1 0-1.5h1.5V6.75H8.25a.75.75 0 0 1-.75-.75ZM20.25 3a.75.75 0 0 1 .75.75v6a.75.75 0 0 1-.75.75h-3.75v1.5a.75.75 0 0 1-1.5 0V9H9a.75.75 0 0 1 0-1.5h
          6V4.5h-3.75a.75.75 0 0 1 0-1.5h6Z"
            clip-rule="evenodd"
          />
        </svg>
        <p>Facebook</p>
      </button>
      <!-- Twitter -->
      <button
        class="flex gap-2 items-center py-1 px-3 rounded-md text-gold bg-navy2 hover:bg-navy1 focus:ring-4 focus:outline-none focus:ring-blue-900 transition"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-4 h-4"
        >
          <path
            fill-rule="evenodd"
            d="M3.75 12a.75.75 0 0 1 .75-.75h3.75V9a.75.75 0 0 1 1.5 0v2.25h1.5a.75.75 0 0 1 0 1.5h-1.5V15a.75.75 0 0 1-1.5 0v-2.25H4.5a.75.75 0 0 1-.75-.75ZM8.25 3a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 .75.75v3.75h1.5a.75.75 0 0 1 0 1.5H15V15a.75.75 0 0 1-1.5 0V8.25H12a.75.75 0 0 1-1.5 0V15H9a.75.75 0 0 1 0-1.5h1.5V6.75H8.25a.75.75 0 0 1-.75-.75ZM20.25 3a.75.75 0 0 1 .75.75v6a.75.75 0 0 1-.75.75h-3.75v1.5a.75.75 0 0 1-1.5 0V9H9a.75.75 0 0 1 0-1.5h
          6V4.5h-3.75a.75.75 0 0 1 0-1.5h6Z"
            clip-rule="evenodd"
          />
        </svg>
        <p>Twitter</p>
      </button>
      <!-- Whatsapp -->
      <button
        class="flex gap-2 items-center py-1 px-3 rounded-md text-gold bg-navy2 hover:bg-navy1 focus:ring-4 focus:outline-none focus:ring-blue-900 transition"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-4 h-4"
        >
          <path
            fill-rule="evenodd"
            d="M3.75 12a.75.75 0 0 1 .75-.75h3.75V9a.75.75 0 0 1 1.5 0v2.25h1.5a.75.75 0 0 1 0 1.5h-1.5V15a.75.75 0 0 1-1.5 0v-2.25H4.5a.75.75 0 0 1-.75-.75ZM8.25 3a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 .75.75v3.75h1.5a.75.75 0 0 1 0 1.5H15V15a.75.75 0 0 1-1.5 0V8.25H12a.75.75 0 0 1-1.5 0V15H9a.75.75 0 0 1 0-1.5h1.5V6.75H8.25a.75.75 0 0 1-.75-.75ZM20.25 3a.75.75 0 0 1 .75.75v6a.75.75 0 0 1-.75.75h-3.75v1.5a.75.75 0 0 1-1.5 0V9H9a.75.75 0 0 1 0-1.5h
          6V4.5h-3.75a.75.75 0 0 1 0-1.5h6Z"
            clip-rule="evenodd"
          />
        </svg>
        <p>WhatsApp</p>
      </button>
    </div>
  </div>
</main>
