<!-- GREETING START -->
<div class="mt-2">
  <h1 class="text-3xl font-semibold max-w-72 leading-[3rem]">
    Selamat Datang Kembali!
  </h1>
</div>

<!-- ANALYTIC CARDS START -->
<div class="mt-6">
  <div class="w-full lg:w-3/5 grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10">
    <div
      *ngFor="let analyticCard of analyticCards"
      class="pt-5 pb-8 px-6 rounded-lg bg-moca"
    >
      <h5 class="text-lg font-medium max-w-56">{{ analyticCard.name }}</h5>
      <h1 class="text-5xl font-semibold">{{ analyticCard.amount }}</h1>
    </div>
  </div>
</div>

<!-- LAWLIBRARY ACTIVE TAB-->
<div *ngIf="activeTab === 'lawlibrary'">
  <!-- Your Lawlibrary content here -->
</div>

<!-- LAWSPEAK ACTIVE TAB -->
<div *ngIf="activeTab === 'lawspeak'">
  <!-- Your Lawspeak content here -->
</div>

<!-- LAWFACT ACTIVE TAB -->
<div *ngIf="activeTab === 'lawfact'">
  <!-- Your Lawfact content here -->
</div>

<!-- LAWBOT ACTIVE TAB -->
<div *ngIf="activeTab === 'lawbot'">
  <!-- Your Lawbot content here -->
</div>
